body{
  padding: 0;
  margin: 0;
}
/*sidebar*/
/*active*/
.el-menu-item, .el-submenu__title {
  color: #fff;
  text-align: left;
}
.el-submenu__title:hover {
  background-color: #00C1DE;
}
.el-submenu .el-menu-item {
  background-color: #333744;
  min-width: 180px;
}
.el-submenu .el-menu-item:hover {
  background-color: #4A5064
}
.el-submenu .el-menu-item.is-active, .el-menu-item.is-active,
.el-submenu .el-menu-item.is-active:hover, .el-menu-item.is-active:hover {
  background-color: #00C1DE;
  color: #fff;
}
.el-menu .iconfont{
  vertical-align: baseline;
  margin-right: 6px;
}

.warp-breadcrum{
  padding: 10px 0px;
  border-bottom: 1px solid #efefef;
}
.warp-main{
  padding-top: 20px;
}


/*layout*/
.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}
.container .topbar-wrap{
  height: 50px;
  line-height: 50px;
  background: #373d41;
  padding: 0px;
}
.container .topbar-wrap .topbar-btn {
  color: #fff;
}
.container .topbar-wrap .topbar-btn:hover {
  background-color: #4A5064;
}
.container .topbar-wrap .topbar-logo {
  float: left;
  text-align: center;
  width: 49px;
  border-right: 1px solid #000;
  line-height: 26px;
}
.container .topbar-wrap .topbar-title {
  float: left;
  text-align: center;
  width: 129px;
  border-right: 1px solid #000;
}
.container .topbar-wrap .topbar-account {
  float: right;
  padding-right: 12px;
}
.container .topbar-wrap .userinfo-inner{
  cursor: pointer;
  color: #fff;
  padding-left: 10px;
}
.container .main {
  display: flex;
  position: absolute;
  top: 50px;
  bottom: 0px;
  overflow: hidden;
}
.container .menu-collapsed {
  flex: 0 0 50px;
  width: 50px;
}
.container .menu-expanded {
  flex: 0 0 180px;
  width: 180px;
}
.container .menu-toggle {
  background: #4A5064;
  text-align: center;
  color: white;
  height: 26px;
  line-height: 30px;
}

.container .content-container {
  background: #fff;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.container .content-container .content-wrapper {
  background-color: #fff;
  box-sizing: border-box;
}
.container aside {
  flex: 0 0 180px;
  width: 180px;
}
.container aside .el-menu {
  height: 100%;
  border-radius: 0px;
  background-color: #333744;
}
.container aside .collapsed {
  width: 50px;
}
.container aside .collapsed .submenu {
  position: absolute;
  top: 0px;
  left: 50px;
  z-index: 9999;
  height: auto;
  display: none;
}

.is-disabled{
  color:#000000;
}
